<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Condition</th>
      <th scope="col">Category</th>
      <th scope="col">Picture</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products">
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.condition.name}}</td>
      <td>{{product.category.name}}</td>
      <td>{{product.image}}</td>
    </tr>
    </tbody>
  </table>
</div>
